header.site-header
  a(href='/')
    .logo ExampleSite
  
  if navContent != null && navContent.data.navLinks != null
    nav
      ul
        each navLink in navContent.data.navLinks
          if navLink.link && navLink.label
            li
              a(href=PrismicDOM.Link.url(navLink.link, ctx.linkResolver))
                != navLink.label