extends ./layout.pug

block content

  div.container(data-wio-id=homepageContent.id)
    
    != PrismicDOM.RichText.asHtml(homepageContent.data['site-title'], ctx.linkResolver, ctx.htmlSerializer)
    img.site-image(src=homepageContent.data.image.url)
    != PrismicDOM.RichText.asHtml(homepageContent.data.text, ctx.linkResolver, ctx.htmlSerializer)