extends ./layout.pug

block content

  div.container(data-wio-id=pageContent.id) 
    != PrismicDOM.RichText.asHtml(pageContent.data.title, ctx.linkResolver, ctx.htmlSerializer)
    != PrismicDOM.RichText.asHtml(pageContent.data.text, ctx.linkResolver, ctx.htmlSerializer)